= simple_form_for @drop, :url => drops_path do |f|
  = f.input :type, :as => :select, :collection => Drop::TYPES
  = f.input :id
  = f.input :redirect_url
  = f.input :file, :as => :file
  = f.submit
