.left-half.darker
  %h2 Hello
  hello, there will be some content here
.right-half
  %h3 make a new drop...
  .drop-zone
    = simple_form_for @drop, :url => drops_path do |f|
      = f.input :type, :as => :select, :collection => Drop::TYPES
      = f.input :id
      = f.input :redirect_url
      = f.input :file, :as => :file
      = f.submit
