.left-half.darker
  %h2 Hello
  hello, there will be some content here
.right-half
  %h2.highlight-color make a new drop...
  .drop-zone
    = simple_form_for @drop, :url => drops_path do |f|
      = image_tag '1.png', :width => 30, :class => 'number'
      = f.input :type, :as => :select, :collection => Drop::TYPES, :wrapper_html => {:class => 'field'}, :label => 'type of drop'
      .clr
      = image_tag '2.png', :width => 30, :class => 'number'
      = f.input :id, :wrapper_html => {:class => 'field'}, :label => 'http://dexter.io/'
      .clr
        = image_tag '3.png', :width => 30, :class => 'number'
      = f.input :redirect_url, :wrapper_html => {:class => 'field'}, :label => 'redirect to: '
      .clr
        = image_tag '3.png', :width => 30, :class => 'number'
      = f.input :file, :as => :file, :wrapper_html => {:class => 'field'}, :label => 'file to upload'
      .clr
      = f.submit
