.left-half.darker
  %h2 hellllllllllllo 
  ted stevens once said, "the internet is not something that you just dump something on.  it's not a a big truck."

  %br
  %br
  this got me thinking.... what if it was a big truck.  so i went on a mission.  i spent the next 6 years of my life studying dump trucks in their natural environment.

  %br
  %br
  the experience was enlightening.
  %br
  %br
  dump trucks do two things.  they accept shit.  and they move shit around.

  %br
  %br
  welcome to dexter.io.  the dump truck of the internet.  put garbage in.  move garbage around.

  %br
  %br
  %br
  = link_to 'Tweets by @dexter_io', 'https://twitter.com/dexter_io', :data => {:"widget-id" => '257608338362220544' }, :class => 'twitter-timeline'
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  %h2{:style => 'font-family:Helvetica;font-size:18px;color:#345564;text-align:center;margin-top:40px;'} setup www.yourname.io to be your personal redirector + fileserver
  =link_to "https://github.com/railsrumble/Dexter" do
    =image_tag 'Octocat.png', :width => 200, :border => 0, :style => 'margin:auto;display:block;'

  .clr
.right-half
  %h2.highlight-color make a new drop...
  .drop-zone
    = simple_form_for @drop, :url => drops_path, :html => {:id => 'form-id'} do |f|
      %input{:type => 'hidden', :name => 'js-upload', :value => false, :id => 'js-upload'}
      = image_tag '1.png', :width => 30, :class => 'number'
      = f.input :type, :as => :select, :collection => Drop::TYPES, :wrapper_html => {:class => 'field'}, :label => 'type of drop', :include_blank => false, :input_html => {:id => 'type'}
      .clr
      = image_tag '2.png', :width => 30, :class => 'number'
      = f.input :id, :wrapper_html => {:class => 'field', :id => 'id-wrapper'}, :label => 'http://dexter.io/'
      .clr

      .redirect-section
        = image_tag '3.png', :width => 30, :class => 'number'
        = f.input :redirect_url, :wrapper_html => {:class => 'field', :id => 'redirect_url-wrapper'}, :label => 'redirect to: '
        .clr

      .upload-section.hidden
        = image_tag '3.png', :width => 30, :class => 'number'
        = f.input :file, :as => :file, :wrapper_html => {:class => 'field', :id => 'file-wrapper'}, :label => 'file to upload', :input_html => {:class => 'uploadWidget', :id => 'file-id'}
        .clr
      = f.submit 'Create', :id => 'submit', :class => 'button'
      .clr
      .meter.blue{:style => 'visibility:hidden;margin:15px;'}
        %span#progress-bar
 
        .clr
        
= content_for :head do
  :css
    .left-half {
      font-family:Colaborate;
    }
    @media only screen and (max-width: 900px){
      .wrapper {
        padding: 10px;
      }

      .right-half {
        width:95%;
      }
      .left-half {
        display:none;
      }
    }

:javascript
  $(function() { window.DEXTER.drops.new(); });
