.left-half.darker
  %h2 drop info 

  .info-section
    .attr
      %b type
      = current_drop.type

    - if current_drop.redirect?
      .attr
        %b redirect url
        = current_drop.redirect_url
    -else
      .attr
        %b file
        = link_to 'link', url_for(:controller => :dispatches, :action => :show, :id => current_drop.id) 
    .attr
      %b url
      =url_for(:controller => :dispatches, :action => :show, :id => current_drop.id, :host => request.host)

.right-half
  %h2.highlight-color stats

  .content-section
    .attr
      %b visits
      = current_drop.stats.visits

    .attr
      %b desktop visits
      = current_drop.stats.attributes.find_all {|s| s[:computer]}.count

    .attr
      %b mobile visits
      = current_drop.stats.attributes.find_all {|s| s[:mobile]}.count

    .attr
      %b bot visits
      = current_drop.stats.attributes.find_all {|s| s[:bot]}.count

.clr
.content-section
  - if current_drop.stats.visits.zero?
    %h2 check back for more stats
  - else
    %h2.highlight-color visits over time
    #placeholder{:style => 'height:300px'}

    :javascript
      $(function () {
        var d1 = #{current_drop.stats.broken_data.inject([]) {|acc, val| acc << [acc.size, val]}.to_json};
        
        $.plot($("#placeholder"), [ d1 ]);
      });

