<!DOCTYPE html>
<html>
<head>
  <title>Dexter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to image_tag('logo.png', :height => 125, :class => 'logo', :border => 0), root_url  %>

  <div class="wrapper">
    <%= yield %>
  </div>
  
</body>
</html>
